<!DOCTYPE html>
<html lang="en">
<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>L&A</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Molla - Bootstrap eCommerce Template" />
    <meta name="author" content="p-themes" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/laptopLogo.jpg" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/laptopLogo.jpg" />
    <link rel="manifest" href="/assets/images/icons/site.html" />
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666" />
    <link rel="shortcut icon" href="assets/images/laptopLogo.jpg" />
    <meta name="apple-mobile-web-app-title" content="Molla" />
    <meta name="application-name" content="Molla" />
    <meta name="msapplication-TileColor" content="#cc9966" />
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left"></div>
                    <!-- End .header-left -->

                    <div class="header-right"></div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="/assets/images/laptopLogo.jpg" alt="Molla Logo" width="105" height="25" />
                        </a>
                    </div>
                    <!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="/search">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required />
                                </div>
                                <!-- End .header-search-wrapper -->
                            </form>
                        </div>
                        <!-- End .header-search -->
                    </div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-middle -->
        </header>
        <!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
                </div>
            </div>

            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div>
            </nav>

            <div class="page-content">
                <div class="container" style="margin: 5%;">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="table-responsive">
                                <% if (userData?.cart.length===0) { %>
                                    <h3>Oops! Cart empty.</h3>
                                    <% } else { %>
                                        <table class="table shopping-summery text-center clean">
                                            <thead>
                                                <tr class="main-heading">
                                                    <th scope="col">Image</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% var sum=0 %>
                                                    <% for (var i=0; i < userCart.cart.length; i++) { %>
                                                        <tr>
                                                            <td class="image product-thumbnail">
                                                                <img src="/adminassets/imgs/products/<%= userCart.cart[i].productId.image[0] %>"
                                                                    alt="Product Image">
                                                            </td>
                                                            <td class="product-des -name">
                                                                <h5 class="product-name">
                                                                    <a
                                                                        href="/product/<%= userCart.cart[i].productId._id %>">
                                                                        <%= userCart.cart[i].productId.productName %>
                                                                    </a>
                                                                </h5>
                                                            </td>
                                                            <td class="price" data-title="Price">
                                                                <span>₹ <%= userCart.cart[i].productId.salePrice %>
                                                                </span>
                                                            </td>
                                                            <td class="text-center" data-title="Stock">
                                                                <a class="btn px-1 py-0"
                                                                    onclick="changeQuantity('<%= userCart.cart[i].productId._id %>', -1, '<%= userCart.cart[i].productId.salePrice %>', 'subtot-<%= i %>', 'cartSubTotal', 'total', 'qty-<%= userCart.cart[i].productId._id %>', '<%= userCart.cart[i].productId.quantity %>')">-</a>
                                                                <span id="qty-<%= userCart.cart[i].productId._id %>"
                                                                    class="qty-val mx-1">
                                                                    <%= userCart.cart[i].quantity %>
                                                                </span>
                                                                <a class="btn px-1 py-0"
                                                                    onclick="changeQuantity('<%= userCart.cart[i].productId._id %>', 1, '<%= userCart.cart[i].productId.salePrice %>', 'subtot-<%= i %>', 'cartSubTotal', 'total', 'qty-<%= userCart.cart[i].productId._id %>', '<%= userCart.cart[i].productId.quantity %>')">+</a>
                                                            </td>
                                                            <td class="text-right" data-title="Cart">
                                                                <span>₹ </span><span id="subtot-<%= i %>">
                                                                    <%= userCart.cart[i].productId.salePrice *
                                                                        userCart.cart[i].quantity %>
                                                                </span>
                                                                <% sum +=userCart.cart[i].productId.salePrice *
                                                                    userCart.cart[i].quantity; %>
                                                            </td>
                                                            <td class="action" data-title="Remove">
                                                                <a href="/remove-cart/<%= userCart.cart[i].productId._id %>"
                                                                    class="btn-remove"><i class="icon-close"></i></a>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                            </tbody>
                                        </table>
                                        <% } %>
                            </div>

                            <div class="cart-discount">
                                <% if (coupon) { %>
                                  <div class="form-group">
                                    <label for="appliedCoupon">Applied Coupon:</label>
                                    <p id="appliedCoupon"><%= coupon.couponCode %> - Discount: ₹<%= coupon.discount %></p>
                                    <button class="btn btn-outline-danger w-100 mt-2" onclick="removeCoupon()">Remove Coupon</button>
                                  </div>
                                <% } else { %>
                                  <form id="couponForm">
                                    <div class="form-group">
                                      <label for="couponcode">Select Coupon:</label>
                                      <select class="form-control" name="couponcode" required>
                                        <option value="">Select Coupon</option>
                                        <% if (coupons && coupons.length > 0) { %>
                                          <% coupons.forEach(function(couponItem) { %>
                                            <option value="<%= couponItem.couponCode %>"><%= couponItem.couponCode %> - Discount: ₹<%= couponItem.discount %></option>
                                          <% }) %>
                                        <% } else { %>
                                          <option value="" disabled>No Coupons Available</option>
                                        <% } %>
                                      </select>
                                    </div>
                                    <button class="btn btn-outline-primary-2 w-100 mt-2" type="submit">
                                      Apply <i class="icon-long-arrow-right"></i>
                                    </button>
                                  </form>
                                <% } %>
                            </div>                            
                            <style>
                                .cart-discount {
                                    margin-top: 1rem;
                                }
                            
                                .form-control {
                                    border-color: black !important;
                                }
                            
                                .form-control:focus {
                                    border-color: black !important;
                                    box-shadow: none !important;
                                }
                            
                                .btn-outline-primary-2 {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-color: black !important;
                                    color: black !important;
                                }
                            
                                .btn-outline-primary-2:hover {
                                    background-color: black !important;
                                    color: white !important;
                                }
                            
                                .btn-outline-primary-2 i {
                                    margin-left: 0.5rem;
                                }
                            </style>
                            
                                                      
                            
                            <div class="cart-action text-end">
                                <a class="btn btn-outline-dark-2 btn-block mb-3" href="/"><i
                                        class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                            </div>
                        </div>

                        <aside class="col-lg-3">
                            <div class="summary summary-cart">
                              <h3 class="summary-title">Cart Total</h3>
                              <table class="table">
                                <tbody>
                                  <tr>
                                    <td class="cart_total_label">Cart Subtotal</td>
                                    <td class="cart_total_amount">₹<span id="grandTotal" class="font-lg fw-900 text-brand"><%= grandTotal %></span></td>
                                  </tr>
                                  <tr>
                                    <td class="cart_total_label">Shipping</td>
                                    <td class="cart_total_amount"><i class="ti-gift mr-5"></i> Free Shipping</td>
                                  </tr>
                                  <tr>
                                    <td class="cart_total_label">Total</td>
                                    <td class="cart_total_amount">
                                      <strong><span id="total" class="font-xl fw-900 text-brand" style="color: rgb(199, 161, 11);">₹ <%= grandTotal %></span></strong>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="row">
                                <div class="col my-0" style="padding-left:0;"><span style="font-size: 15px;">Coupon Discount : </span></div>
                                <div class="d-flex text-right my-0">
                                  <span class="my-0">&#8377; &nbsp;</span>
                                  <p class="my-0 text-dark" id="coupondiscount"><%= coupon ? coupon.discount : '' %></p>
                                </div>
                              </div>
                              <% if (userCart.cart.length) { %>
                                <a href="/checkout" class="btn btn-outline-dark-2 btn-block mb-3" style="font-size: medium; background-color: rgb(168, 173, 171);">Proceed To CheckOut</a>
                              <% } else { %>
                                <a type="button" onclick="cartEmpty()" class="btn btn-outline-primary-2 btn-order btn-block">Proceed To CheckOut</a>
                              <% } %>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>
        <style>
            .main {
                padding: 20px 0;
            }

            .page-header {
                padding: 60px 0;
                background-size: cover;
                background-position: center;
                color: #fff;
            }

            .breadcrumb-nav {
                margin-bottom: 20px;
            }

            .page-content .container {
                margin: 5%;
            }

            .table-responsive {
                margin-bottom: 20px;
            }

            .summary-cart {
                padding: 20px;
                border: 1px solid #ddd;
                background-color: #f9f9f9;
            }

            .btn-outline-dark-2 {
                border: 1px solid #333;
                color: #333;
            }

            .btn-outline-dark-2:hover {
                background-color: #333;
                color: #fff;
            }

            .btn-outline-primary-2 {
                border: 1px solid #007bff;
                color: #007bff;
            }

            .btn-outline-primary-2:hover {
                background-color: #007bff;
                color: #fff;
            }

            .btn-order {
                width: 100%;
                margin-top: 10px;
            }

            .product-thumbnail img {
                max-width: 100px;
                height: auto;
            }

            .table th,
            .table td {
                vertical-align: middle;
            }

            .text-end {
                text-align: end;
            }
        </style>
        <!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/assets/images/laptopLogo.jpg" class="footer-logo" alt="Footer Logo"
                                    width="105" height="25" />
                                <p>
                                    Praesent dapibus, neque id cursus ucibus, tortor neque
                                    egestas augue, eu vulputate magna eros eu erat.
                                </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div>
                                <!-- End .soial-icons -->
                            </div>
                            <!-- End .widget about-widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4>
                                <!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About L&A</a></li>
                                    <li><a href="#">How to shop on L&A</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul>
                                <!-- End .widget-list -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4>
                                <!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                                <!-- End .widget-list -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4>
                                <!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                                <!-- End .widget-list -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">
                        Copyright © 2019 L&A Store. All Rights Reserved.
                    </p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20" />
                    </figure>
                    <!-- End .footer-payments -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-bottom -->
        </footer>
        <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
        <i class="icon-arrow-up"></i>
    </button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required />
                <button class="btn btn-primary" type="submit">
                    <i class="icon-search"></i>
                </button>
            </form>

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div>
            <!-- End .social-icons -->
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <!-- scripts -->

    <!-- <script>
        document.getElementById("applyCoupon").onsubmit = function (event) {
            event.preventDefault();

            const coupon = document.getElementById("coupon").value;

            $.ajax({
                url: "/apply-coupon",
                method: "post",
                data: { coupon },
                success: function (res) {
                    if (res.coupon) {
                    }
                },
            });
        };
    </script> -->

    <script>
        function cartEmpty() {
            Swal.fire(
                "Oops!, Cart is Empty",
                "Add items to your cart before checking out!"
            );
        }
    </script>

    <script>
        document.getElementById('couponForm').addEventListener('submit', async function (event) {
        event.preventDefault();
    
        const couponcode = document.querySelector('select[name="couponcode"]').value;
        const grandTotal = parseInt(document.getElementById('grandTotal').innerText);
    
        try {
            const response = await fetch('/applyCoupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ couponName: couponcode, cartTotal: grandTotal })
            });
    
            const result = await response.json();
            if (result.status) {
            document.getElementById('coupondiscount').innerText = result.discount;
            document.getElementById('total').innerText = `₹ ${result.newTotal}`;
            document.getElementById('grandTotal').innerText = result.newTotal;
            location.reload(); 
            } else {
            alert(result.message);
            }
        } catch (error) {
            console.error('Error applying coupon:', error);
        }
        });
    
        async function removeCoupon() {
        try {
            const response = await fetch('/removeCoupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
            });
    
            const result = await response.json();
            if (result.status) {
            location.reload(); 
            } else {
            alert(result.message);
            }
        } catch (error) {
            console.error('Error removing coupon:', error);
        }
        }
    </script>

    <script>
        function changeQuantity(
            productId,
            count,
            price,
            subTotal,
            cartSubTotal,
            total,
            quantity,
            stock
        ) {
            console.log(
                productId,
                count,
                price,
                subTotal,
                cartSubTotal,
                total,
                quantity
            );
            const subtotalValue = document.getElementById(subTotal).innerHTML;
            const grandTotalValue = document.getElementById("grandTotal").innerHTML;
            const quantityValue = document.getElementById(quantity).innerHTML;
            let totalValue = parseInt(subtotalValue);

            if (parseInt(quantityValue) + count > parseInt(stock)) {
                if (count === 1) {
                    Swal.fire("No more  Quantity Available in Stock","Alert","error");
                    return;
                }
            }

            console.log(quantityValue, count);
            if (quantityValue == 1 && count == -1) {
                return;
            }
            $.ajax({
                url: "/change-quantity",
                method: "post",
                data: {
                    productId,
                    count,
                },
            });

            if (count === 1) {
                document.getElementById(subTotal).innerHTML =
                    parseInt(price) + totalValue;
                document.getElementById("grandTotal").innerHTML =
                    parseInt(price) + parseInt(grandTotalValue);
                document.getElementById("total").innerHTML =
                    parseInt(price) + parseInt(grandTotalValue);
                document.getElementById(quantity).innerHTML =
                    parseInt(quantityValue) + 1;
            } else if (count === -1) {
                document.getElementById(subTotal).innerHTML =
                    totalValue - parseInt(price);
                document.getElementById("grandTotal").innerHTML =
                    parseInt(grandTotalValue) - parseInt(price);
                document.getElementById("total").innerHTML =
                    parseInt(grandTotalValue) - parseInt(price);
                document.getElementById(quantity).innerHTML =
                    parseInt(quantityValue) - 1;
            }
        }
    </script>
    
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>        
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>

<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

</html>

